<!-- <ul class="nav">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/products">Products</a></li>
    <li><a routerLink="/contact">Contact</a></li>
</ul> -->

<div
  class="flex flex-1 h-2rem nav-container justify-content-end align-content-center"
>
  <div
    class="flex align-items-center text-white justify-content-center nav-item p-3 ml-2 w-2"
    routerLinkActive="selected"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a routerLink="/">Home</a>
  </div>
  <div
    class="flex align-items-center text-white justify-content-center nav-item p-3 ml-2 w-2"
    routerLinkActive="selected"
  >
    <a routerLink="/products">Products</a>
  </div>
  <div
    class="flex align-items-center text-white justify-content-center nav-item p-3 ml-2 w-2"
    routerLinkActive="selected"
  >
    <a routerLink="/contact">Contact</a>
  </div>
</div>
