


// header {
//     width: 100%;
//     height: 100%;
//     // background: linear-gradient(180deg, rgba(188, 176, 189, 1) 0%, rgba(164, 122, 180, 1) 100%);
//     background: linear-gradient(180deg, rgba(188, 176, 189, 1) 0%, rgb(255, 255, 255) 100%);
//     // background: linear-gradient(180deg, rgba(188, 176, 189, 1) 0%, rgba(164, 122, 180, 1) 100%),
//     //             url('/assets/images/crumpled-paper.png');
//     background-blend-mode: overlay;
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
//     border: 1px solid #9a56b2;
//     box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  
//     .logo {
//       display: flex;
//       justify-content: center;
//       align-content: center;
//       padding-left: 40px;

//           /* Ensure the container takes full height */
//       // height: 1vh; /* Adjust based on the parent's height */
//       /* If the parent needs to fill the available space */
//       /* You might need to check the parent's dimensions as well */



//       img {
//         width: clamp(70px, 10vw, 120px);
//         padding-top: 0;
//       }
//     }
  
//     .tools {
//       .pi {
//         // margin-right: 10px;
//       } 
//     }
  
//     .search {
//       // padding-top: 25px;
//     }
  
//     .navigation {
//       // padding-top: 23px;
//     }
//   }
  





header {
    // width: 100vw;
    padding: 1%;
    height: 100%;
    // background: linear-gradient(180deg, rgba(188, 176, 189, 1) 0%, rgba(164, 122, 180, 1) 100%);
    // background: linear-gradient(180deg, #ee989d 30%, white 100%);
      // background: radial-gradient(ellipse at top, #ffffff 50%, rgb(171, 171, 171) );
      // background: radial-gradient(ellipse at top, #ffffff 50%, rgb(221, 182, 182) );
// background: radial-gradient(ellipse at top, white,rgb(226, 182, 182) 160%);
// background:  radial-gradient(ellipse at top, white, #b47377 160%);
background:  radial-gradient(ellipse at bottom,#ffb6bb, white 70%);

    // background: linear-gradient(180deg, rgba(188, 176, 189, 1) 0%, rgba(164, 122, 180, 1) 100%),
    //             url('/assets/images/crumpled-paper.png');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    // border: 1px solid #9a56b2;
    // box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  
    .logo {
      display: flex;
      justify-content: center;
      align-content: center;
      padding-left: 40px;

          /* Ensure the container takes full height */
      // height: 1vh; /* Adjust based on the parent's height */
      /* If the parent needs to fill the available space */
      /* You might need to check the parent's dimensions as well */



      img {
        width: clamp(70px, 10vw, 120px);
        padding-top: 0;
      }
    }
  
    .tools {
      .pi {
        // margin-right: 10px;
      } 
    }
  
    .search {
      // padding-top: 25px;
    }
  
    .navigation {
      // padding-top: 23px;
    }
  }
  
