header {
    margin-bottom: 25px;

    .logo {
        padding-right: 80px;
        text-align: center;
        img {
            width: 120px;
            padding-top: 0;
        }
    }

    .tools {
        padding-top: 38px;
        .pi {
            margin-right: 10px;
        }
    }

    .search {
        padding-top: 25px;
    }

    .navigation {
        padding-top: 23px;
    }

}
