.nav-container {
    width: 100%;
    display: block;
    align-items: space-evenly;
    font-family: 'Courier New', Courier, monospace;

    .cart {
        font-size: 5px;
        
    }

    .nav-item {

        

        a {
            color: rgb(0, 0, 0);
            // color: rgb(156, 63, 63);
                        // text-shadow: 2px 2px 2px rgb(255, 255, 255);

            font-weight: 100;
        }
        
    }               

    .selected {
            a{
            text-shadow: 1px 1px 1px rgb(163, 12, 12);
            font-weight: bold;
            color: rgb(255, 255, 255);
            }
      }
      

    a {
        color: white;

        &:hover {
            // color: $primary-color;
            text-shadow: 1px 1px 1px rgb(255, 160, 160);
                font-weight: 200;
                color: rgb(255, 255, 255);
    
        }
    }
}